# CLion specific files.
/cmake-build-*/
.idea/

# Created directories.
/output/
/debug/

# Compiled object files.
*.o
*.obj

# Precompiled headers.
*.gch
*.pch

# Compiled dynamic libraries.
*.so
*.dylib
*.dll

# Compiled static libraries.
*.a
*.lib

# Executables.
*.exe
*.out
*.app

# Debug files.
*.dSYM/
*.su

# macOS specific.
.DS_Store

# Backup files
*~